## List Comprehension

In [8]:
list_a = [1,2,3,4,5]

In [10]:
list_b =[]
for i in list_a:
    list_b.append(i**2)

In [11]:
print(list_b)

[1, 4, 9, 16, 25]

In [12]:
list_c = [i**2 for i in list_a]
print(list_c)

[1, 4, 9, 16, 25]

In [13]:
list_y = []
for i in range(1,11):
    list_y .append(i)

In [14]:
print(list_y)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
list_x = [i for i in range(1,11)]
print(list_x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
print(list_x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [17]:
list_even =[i for i in list_x if i % 2 == 0]

In [18]:
print(list_even)

[2, 4, 6, 8, 10]

In [19]:
list_even2 =[]
for i in list_x:
    if i % 2 ==0:
        list_even2 .append(i)

In [20]:
print(list_even2)

[2, 4, 6, 8, 10]

In [23]:
list_even3 =[i for i in range(0,11,2)]
print(list_even3)

[0, 2, 4, 6, 8, 10]

### User Input

## To create list of odd numbers using list comprehension

In [5]:
list_a = [i for i in range(0,12)]
print(list_a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [6]:
num= int(input('enter Range'))
list_odd=[i for i in range(1,num,2)]
print(list_odd)

enter Range 12

[1, 3, 5, 7, 9, 11]

## deleting ELements

In [47]:
list_odd1 = []
for i in range(0,13):
    if i % 2 == 1

SyntaxError: invalid syntax (<ipython-input-47-816c4a133703>, line 3)

In [46]:
list_x = [i for i in range(0,11)]
print(list_x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [63]:
list_oddd = []
for i in list_x:
    if i % 2 == 1:
        print(list_oddd)

[]
[]
[]
[]
[]

In [57]:
list_odd2=[i for i in list_x if i % 2==1]
print(list_odd2)

[1, 3, 5, 7, 9]

In [71]:
list_odd3 = [i for i in range(0,11,1)]
print(list_odd3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [73]:
print(list_odd3)

[0, 1, 2, 3, 5, 6, 7, 8, 9, 10]

In [80]:
list_odd3 .remove(0)
print(list_odd3)

[1, 2, 5, 6, 7, 8, 9, 10]

In [75]:
list_ran = [1,2,3,3,4,5,6,10]

In [81]:
list_ran .remove(3)
print(list_ran)

[1, 2, 3, 4, 5, 6, 10]

# TUPLES

### Ordered and immutable sequences

In [31]:
tuple1 = (1,2,3,4.5,'digital')

In [32]:
print(tuple1)

(1, 2, 3, 4.5, 'digital')

In [34]:
for i in tuple1:
    print(i)

1
2
3
4.5
digital

In [7]:
print(type(tuple))

<class 'type'>

In [11]:
tuple_2 = (1,2,2.5,['a','b','c'])

In [12]:
tuple_2 [3]= 899
print(tuple_2)

TypeError: 'tuple' object does not support item assignment

In [2]:
tuple_3 = (2,4,6,8,100,['a','b','c'])

In [3]:
tuple_3 [5] =(10)
print(tuple_3)

TypeError: 'tuple' object does not support item assignment

In [6]:
tuple_3[5][1]=7

In [7]:
tuple_3

(2, 4, 6, 8, 100, ['a', 7, 'c'])

In [10]:
tuple_3(5)(2)='ab'
print(tuple_3)

SyntaxError: cannot assign to function call (<ipython-input-10-c1523be857ac>, line 1)

In [23]:
tuple_a = ('a','b','c',[1,2,3])

In [2]:
tuple_a (3)(2)= 20
print(tuple_a)

SyntaxError: cannot assign to function call (<ipython-input-2-4289c7ade11c>, line 1)

In [9]:
thistuple = ('apple','banana','cherry','apple','cherry',[1,2,3])
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry', [1, 2, 3])

In [11]:
thistuple [5][2] = 50

In [12]:
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry', [1, 2, 50])