## Tuple Creation

In [5]:
tup_1 = (1,2,3)

In [1]:
tup_2 = (6,7,8,9,10)

In [3]:
print(tup_2)
print(type(tup_2))

(6, 7, 8, 9, 10)
<class 'tuple'>

In [5]:
tup = (3)

In [6]:
print(type(tup))

<class 'int'>

In [7]:
tup_4 = (3,)
print(type(tup_4))
print(len(tup_4))

<class 'tuple'>
1

In [13]:
type(('HELLO'))

str

In [15]:
type(('HiBRO',)) # here Comma differentiate between string and tuple

tuple

In [16]:
tup_5 = ()
print(type(tup_5))

<class 'tuple'>

### Tuple Unpacking

In [34]:
t1=((1,5),(2,6),(10,2),(0.5,1))

In [35]:
for x,y in t1:
    print(x,y)

1 5
2 6
10 2
0.5 1

In [36]:
t2=(('a','b'),('m','n'),('y','z'))

In [37]:
for x,y in t2:
    print(x,y)

a b
m n
y z

In [38]:
for i,j in [[3,5],[5,6]]:
    print(i,j)

3 5
5 6

In [39]:
for x,y in t1:
    print('x is',x,'y is',y)

x is 1 y is 5
x is 2 y is 6
x is 10 y is 2
x is 0.5 y is 1

In [40]:
for i in t1: 
    print(i)

(1, 5)
(2, 6)
(10, 2)
(0.5, 1)

In [41]:
tup_name = ('sam','bharath','vivek')

In [42]:
tup_name = name1,name2,name3
print(name1,name2)

bharath sam

In [43]:
name1,name2,name3 = tup_name
print(name1,name2)

bharath sam

## Swapping

In [44]:
name1,name2 = name2,name1

In [45]:
print(tup_name)

('bharath', 'sam', 'vivek')

In [48]:
print(name2)

bharath

### SET

### unordered mutable collection and is Denoted by { }

In [49]:
s1 = set()
print(type(s1))

<class 'set'>

In [50]:
s2= {1,2,3,4,5,6,7}
print(s2)

{1, 2, 3, 4, 5, 6, 7}

### only supports unique values

In [51]:
s3 = {1,2,3,4,5,5,5,6}
print(s3)

{1, 2, 3, 4, 5, 6}

In [52]:
print(s2)
s2.add(10)
print(s2)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7, 10}

In [53]:
print(s2)
s2.remove(7)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 10}
{1, 2, 3, 4, 5, 6, 10}

In [54]:
print(s2)

{1, 2, 3, 4, 5, 6, 10}

In [55]:
print(tup_2)

(6, 7, 8, 9, 10)

In [56]:
print(tup_2)
set_tup_2 = set(tup_2)
print(set_tup_2)
print(type(set_tup_2))

(6, 7, 8, 9, 10)
{6, 7, 8, 9, 10}
<class 'set'>

## Deleting elements

In [59]:
set_2 = {1,2,3,4,5}

In [60]:
print(set_2)

{1, 2, 3, 4, 5}

In [61]:
print(s2)
s2.clear()
print("s2 after using clear")
print(s2)

{1, 2, 3, 4, 5, 6, 10}
s2 after using clear
set()

In [62]:
print(s2)
s2.clear

set()

In [68]:
s9 = {1,2,3,4,5,6,6}

In [69]:
print(s9)

{1, 2, 3, 4, 5, 6}

In [70]:
print(s9)
s9.remove(3)
print(s9)

{1, 2, 3, 4, 5, 6}
{1, 2, 4, 5, 6}

In [71]:
s9.remove (20) #Gives Error

KeyError: 20

In [73]:
s9 .discard(20) #without error code will run

In [74]:
print(s9)

{1, 2, 4, 5, 6}

In [78]:
l1 = [1,2,3,4,4]
set(l1)

{1, 2, 3, 4}

In [79]:
print(l1)

[1, 2, 3, 4, 4]

## Print Formatting

In [98]:
name ='sam'; age =10

In [99]:
print('my name is',name,"my age is",age)

my name is sam my age is 10

In [100]:
print('my name is {},my age is {}'.format(name,age))

my name is sam,my age is 10

In [101]:
print('my name is '+ name+'my age is'+str(age))

my name is sammy age is10

In [102]:
print(f'my name is {name},my age is {age}')

my name is sam,my age is 10

#### using Format method

In [111]:
name0 = 'geeks'

In [109]:
print('I love {} for {}' .format(name0))

IndexError: Replacement index 1 out of range for positional args tuple

### Boolean operations for set