## Write a function to Print 'Great' using while loop.Break the loop when someone enter 8

In [1]:
x = 0 #WRONG
while True :
    if x != 8 :
        print('Great')
        break
        i = 1
    else:
        print('The loop going to break as someone enter 8')
        break

Great

In [7]:
while True:
    num = int(input('Enter a Number'))
    if num == 8:
        print(f'you Have Entered {num}')
        break
    else:
        print("Great")

Enter a Number 9

Great

Enter a Number 6

Great

Enter a Number 3

Great

Enter a Number 8

you Have Entered 8

### Take User input,if number is even Print 'even'
### if number is odd print 'odd',if number is 0 Break the loop and Print 'Neither odd nor even'.use while loop

In [23]:
while True:
    num = int(input('Enter a Number'))
    if num % 2== 0:
        print(f'Number is Even{num}')
        break
    else:
        print(f'Number is Odd{num}')
        break
    if num %2! == 0
        print(f'Neither odd nor even')
        break

SyntaxError: invalid syntax (<ipython-input-23-998b8a0876e1>, line 9)

In [16]:
while True:
    userinput = int(input("Odd/Even Test"))
    if userinput == 0:
        print('Neither odd nor even')
        break
    elif userinput %2==0:
        print(f'{userinput} is even')
    else:
        print(f'{userinput} is odd')

Odd/Even Test 3

3 is odd

Odd/Even Test 4

4 is even

Odd/Even Test 0

Neither odd nor even

### Write a Programm to print factorial of a number taken from a user

In [4]:
factorial =1
num = int(input('Enter the number'))
if num < 0 :
    print(f'sorry,factorial doesnot exist for negative numbers')
elif num == 0:
    print(f'The Factorial of 0 is 1')
else:
    for i in range (1,num + 1):
        factorial = factorial * i
    print("The factorial of num",num,"is",factorial)

Enter the number 4

The factorial of num 4 is 24

In [10]:
def factorial(n):
    factorial=1
n = int(input('Enter the number'))
if n < 0:
    print("The num is Negative")
else:
    n > 0 
for i in range(1,n+1):
    factorial = factorial * i

Enter the number 5

TypeError: unsupported operand type(s) for *: 'function' and 'int'

In [11]:
i = 1
while True:
    print(i)
    i = i+1
    if i>5:
        print('i greater than 5')
        break

1
2
3
4
5
i greater than 5

In [12]:
i = 1
while i<=5:
    print(i)
    i+= 1 #i=i+1

1
2
3
4
5

### WAP to print numbers divisble by 3 between range 1 to 20 inclusive

In [3]:
num = 1
while True:
    if num >20:
        print("Out of Range")
        break
    elif num % 3 == 0:
        print(num)
    num +=1 #num = num+ 1

3
6
9
12
15
18
Out of Range

### WAP to print numbers divisble by 3  in a given range specified by the user

In [1]:
end = int(input('Enter the Range'))           ## BY INCREMENTING
start = 1
while start <= end:
    if start % 3 == 0:
        print(start)
    start+=1

Enter the Range 15

3
6
9
12
15

In [2]:
end = int(input('Enter Range'))              ## BY DECREMENTING
start = 1
while start <= end:
    if end % 3 == 0:
        print(end)
    end -=1 # end = end-1

Enter Range 18

18
15
12
9
6
3

### continue statement

In [1]:
for i in 'PYTHON' :
    if i == 'y' :
        continue
    else:
        print(i)

P
Y
T
H
O
N

In [7]:
for x in 'Bharath' :
    if x == 'y':
        continue
    else:
        print(x)

B
h
a
r
a
t
h

### WA function which print the natural numbers less than "n"(input value) which are divisible by 3,divisible by 5 but not divisible by 10.

In [4]:
n = int(input('Enter any number'))
for i in range(1,n+1):
    if i % 15 == 0 and i % 10 != 0:
        print(i)

Enter any number 50

15
45

In [3]:
def result(n): #Wrong
    for num in range(n):
        if num % 3 == 0 and num % 5 == 0:
            print()

In [5]:
n = 100

In [6]:
print(n)

100

In [20]:
n = int(input("Enter the number"))
for i in range(1,n):
    if i%3 == 0 and i%5 == 0:
        print(n,"num is divisble by 3 and 5")
    elif i%10 != 0:
        print(n,"num is not divisble by 10")

Enter the number 3

3 num is not divisble by 10
3 num is not divisble by 10

## using Boolean operations and,or

In [5]:
def threefive(n):
    for i in range(1,n):
        if (i % 3 == 0 or i % 5 == 0) and i % 10 != 0:
            print(i,'divisible by 3 or 5 but not 10')

In [3]:
3 % 3 == 0

True

In [8]:
# For the third loop
True or False and True

True

In [9]:
# for the second loop
False or False and True

False

In [6]:
threefive(25)

3 divisible by 3 or 5 but not 10
5 divisible by 3 or 5 but not 10
6 divisible by 3 or 5 but not 10
9 divisible by 3 or 5 but not 10
12 divisible by 3 or 5 but not 10
15 divisible by 3 or 5 but not 10
18 divisible by 3 or 5 but not 10
21 divisible by 3 or 5 but not 10
24 divisible by 3 or 5 but not 10

In [10]:
threefive(50)

3 divisible by 3 or 5 but not 10
5 divisible by 3 or 5 but not 10
6 divisible by 3 or 5 but not 10
9 divisible by 3 or 5 but not 10
12 divisible by 3 or 5 but not 10
15 divisible by 3 or 5 but not 10
18 divisible by 3 or 5 but not 10
21 divisible by 3 or 5 but not 10
24 divisible by 3 or 5 but not 10
25 divisible by 3 or 5 but not 10
27 divisible by 3 or 5 but not 10
33 divisible by 3 or 5 but not 10
35 divisible by 3 or 5 but not 10
36 divisible by 3 or 5 but not 10
39 divisible by 3 or 5 but not 10
42 divisible by 3 or 5 but not 10
45 divisible by 3 or 5 but not 10
48 divisible by 3 or 5 but not 10

### Suppose u have the list : [GIVEN].Using a dictionary,Compute the number of times each word occurs

In [22]:
list1 = ['dog','pencil','fence','dog','apple','dog','dog','dog','pear','pencil','pear','pear']

In [23]:
print(len(list1))

12

In [34]:
pet = {}
for i in set(list1):
    pet[i] = list1.count(i)
    print(pet)

{'apple': 1}
{'apple': 1, 'fence': 1}
{'apple': 1, 'fence': 1, 'dog': 5}
{'apple': 1, 'fence': 1, 'dog': 5, 'pencil': 2}
{'apple': 1, 'fence': 1, 'dog': 5, 'pencil': 2, 'pear': 3}

In [45]:
pet={}
for i in set(list1):
    pet[i] = list1.count(i)
print(pet)

{'apple': 1, 'fence': 1, 'dog': 5, 'pencil': 2, 'pear': 3}

In [35]:
list1.count('dog')

5

### Write a Python Script to generate and print a dictionary that contains number (b/w 1 And n) in the form (x,x*x)

In [63]:
def prepsqrdict(n):
    outputdict = dict()
    for i in range(1,n+1):
        outputdict[i]= i*i
    return outputdict

In [64]:
prepsqrdict(15)

{1: 1,
 2: 4,
 3: 9,
 4: 16,
 5: 25,
 6: 36,
 7: 49,
 8: 64,
 9: 81,
 10: 100,
 11: 121,
 12: 144,
 13: 169,
 14: 196,
 15: 225}

In [44]:
d=dict()
for x in range(1,9):
    d[x]=x*x
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [67]:
def sqr():
    val=int(input("Enter your Number"))
    squares={}
    for i in range(1,val+1):
        squares[i]=i*i
    return squares
sqr()

Enter your Number 9

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### list comprehension

In [4]:
numbers = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

#### Make another list which has squares of the number divisible by 2 use list comprehension

In [5]:
squares = []
for i in numbers:
    if i % 2 == 0:
        squares.append(i ** 2)

In [6]:
print(squares)

[4, 16, 36, 64, 100, 144, 196, 256]

In [11]:
sq = for i in numbers
if i % 2 == 0

SyntaxError: invalid syntax (<ipython-input-11-43cd1f2081c3>, line 1)

### Print the n th simulation value for following series
    1^2+2^2+3^2+4^2+.....

In [9]:
def series_sum(num):
    sum = 0
    for i in range(1,num+1):
        sum += i ** 2
        print(sum)
    return sum

In [10]:
series_sum(5)

1
5
14
30
55

55

### Write a Python function that takes two lists and Return True , if they have atleast one common member

In [76]:
def com_mem(list1,list2):
    print(list1)
    print(list2)
    for x in list1:
#         print(x)
#         if x in list2:
#             print( True)
#         else:
#             print( False)
        if x in list2:
#             if x == y:
#                 result = True
             print(True)
              #print(False)

In [77]:
list1 = [1,2,3,5,10]

In [78]:
print(type(list1))

<class 'list'>

In [79]:
list2 = [6,7,8,9,10]

In [80]:
com_mem(list1,list2)

[1, 2, 3, 5, 10]
[6, 7, 8, 9, 10]
True

In [71]:
list3 = ['a','b','w']

In [72]:
list4 = ['c','d','e']

In [73]:
print(com_mem(list3,list4))

['a', 'b', 'w']
['c', 'd', 'e']
None

In [116]:
list9 = [0,9,8,4]

In [117]:
list8 = [7,5,4,6]

In [118]:
print(com_mem(list9,list8))

0
False

### Write a Python program to convert a list of charcters into String

In [27]:
lista = ''  #Using join

In [28]:
listb = ['B','H','A','R','A','T','H']

In [30]:
lista.join(listb)

'BHARATH'

In [31]:
listc = ['R','E','D','D','Y']

In [32]:
''.join(listc)

'REDDY'

In [63]:
listd = ['a','b','c','d']   #Using LOOP
result = " "

In [64]:
for i in listd:
    result += i + " "
print(result)

 a b c d

In [76]:
lista = ['h','i']
def conv_to(l):
    string = str()
    for i in l:
        string += i
    return string

In [78]:
conv_to(lista)

'hi'

### Write a Program to print the number divisible by 3 and 5 But not 10 for a given n

In [24]:
n = int(input('Enter your number'))
for i in range(1,n+1):
        if (i % 3 == 0 and i % 5 == 0) and i % 10 != 0:
            print(i,'Num is divisble by 3 and 5')

Enter your number 50

15 Num is divisble by 3 and 5
45 Num is divisble by 3 and 5

### WAP to generate dictionary from range 1 to n, in the format x:x*x,take n from user

In [25]:
d = dict()
for x in range(1,10):
    d[x] = x*x
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### using Dictionary Comprehension

In [7]:
d2 = {i:i*i for i in range(1,int(input('Enter a Number'))+1)}
print(d2)

Enter a Number 9

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### WAP to convert a list of charcters in to string

In [27]:
lista = ''

In [32]:
listb = ['S','O','N','U','S','M','A','R','T','Z']

In [33]:
lista.join(listb)

'SONUSMARTZ'

In [44]:
listq = ['a','b','c']
string = str()
for i in listq:
    string = string + i
print(string)

abc

### Using split

In [51]:
string = 'Sonu smartz'
string.split()

['Sonu', 'smartz']

In [53]:
string.split('s')

['Sonu ', 'martz']

In [54]:
string

'Sonu smartz'

In [55]:
x = string.split()

In [56]:
x.reverse()

In [57]:
x

['smartz', 'Sonu']

In [60]:
' '.join(x)

'smartz Sonu'

### print the nth summation value for following series => 1^2 + 2^2 + 3^2

In [68]:
n = int(input('Enter Your Number'))
count = 0
for i in range(1,n+1):
    print('i square is ',i*i)
    count = count + i ** 2 #i * i
print('total is ',count)

Enter Your Number 5

i square is  1
i square is  4
i square is  9
i square is  16
i square is  25
total is  55

### Write a Program to print if true if two lists have a common member

In [1]:
list_ab =[10,12,34,22,11,44,66]
list_cd = [99,88,48,33,11,89]

In [8]:
def common_member(list_ab,list_cd):
    print(list_ab)
    print(list_cd)
for x in list_ab:
    if x in list_cd:
        print(x,True)

11 True

In [12]:
for i in list_ab:
    for j in list_cd:
        if i == j:
            print(i)

11

In [13]:
list_common = [i for i in list_ab if i in list_cd]

In [14]:
print(list_common)

[11]

### WAP to take options,if option1 then it should ask 'What is your name?',if option2 it should ask 'What is your age?'if option3 'Exit'.this continuously run until you enter option 3

In [21]:
while True:
    option = int(input('Enter option 1 to 3'))
    if option == 1:
        name = input('Enter Your name')
        print('hello',name)
    elif option == 2:
        age = int(input('Enter ur age'))
        print('age is',age)
    elif option == 3:
        print('Thank You')
        break
    else:
        print('invalid input')
        continue

Enter option 1 to 3 6

invalid input

Enter option 1 to 3 7

invalid input

Enter option 1 to 3 1
Enter Your name Bharath

hello Bharath

Enter option 1 to 3 2
Enter ur age 22

age is 22

Enter option 1 to 3 3

Thank You

In [15]:
def fun1():
    option = int(input('Enter Options from 1 to 3'))
    if option == 1:
        name = input('enter name')
        print('Hello',name)
        fun1()
    elif option == 2:
        age = int(input('Enter the age'))
        print('Age is',age)
        fun1()
    elif option == 3:
        # pass
        print('Thank You')
     #   break
    else:
        print('Invalid input')
        fun1()
        #return 'ThankYou'

In [16]:
fun1()

Enter Options from 1 to 3 1
enter name ddddd

Hello ddddd

Enter Options from 1 to 3 2
Enter the age 12

Age is 12

Enter Options from 1 to 3 3

Thank You

### WAP to add values of two dictionaries
d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}
output = {'a':400,'b':400,'c':300,'d':400}

In [2]:
d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}

In [3]:
d_add = {}
for x in d1:
    if x in d2:
        d_add[x]= d1[x]+d2[x]
print(d_add)

{'a': 400, 'b': 400}

In [4]:
d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}
d3 = {}

In [5]:
d3['a'] = d1['a']+ d2['a']

In [6]:
d3

{'a': 400}

In [7]:
d3['b'] = d1['b']+d2['b']

In [8]:
d3

{'a': 400, 'b': 400}

In [9]:
d3['c'] = d1['c']

In [10]:
d3

{'a': 400, 'b': 400, 'c': 300}

In [11]:
d3['d'] = d2['d']

In [12]:
d3

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [13]:
d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}
d3 = {}

In [14]:
for i in d1:
    if i in d2:
        d3[i] = d1[i] + d2[i]

In [15]:
print(d3)

{'a': 400, 'b': 400}

In [16]:
for i in d1:
    if i in d2:
        d3[i] = d1[i] + d2[i]
    else:
        d3[i] = d1[i]

In [17]:
print(d3)

{'a': 400, 'b': 400, 'c': 300}

In [18]:
for i in d1:
    if i in d2:
        d3[i] = d1[i] + d2[i]
    else:
        d3[i] = d1[i]
for x in d2:
    if x not in d1:
        d3[x] = d2[x]
print(d3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [19]:
print(d1)
print(d2)

{'a': 100, 'b': 200, 'c': 300}
{'a': 300, 'b': 200, 'd': 400}

### Solution 2

In [20]:
d4 = {}
d4.update(d1)
d4.update(d2)
for i in d4:
    if i in d1 and i in d2:
        d4[i] += d1[i]  #d4[i] = d4[i]+d1[i]
print(d4)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [21]:
import math

In [22]:
import collections

In [18]:
#use .TAB after math

### Solution 3

In [23]:
d1 = {'a':100,'b':200,'c':300}
d2 = {'a':300,'b':200,'d':400}
d3 = {}
from collections import Counter
d3 = Counter(d1) + Counter(d2)
print(d3)

Counter({'a': 400, 'b': 400, 'd': 400, 'c': 300})

In [25]:
d3 = d1.copy()

In [26]:
d3.update(d2)

In [27]:
print(d3)

{'a': 300, 'b': 200, 'c': 300, 'd': 400}

### Write a function to print the factorial of a number using while loop.
### factorial 5 is 5*4*3*2*1. note 0! = 1

In [13]:
def factorial(n):    # Using while Loop
    fact = 1
    while True:
        if n == 0:
            break
        print(fact)
        fact = fact * n
        n -= 1  # n = n - 1
    return fact

In [14]:
factorial(5)

1
5
20
60
120

120

In [23]:
def factorial2(n):    # Using For loop
    fact = 1
    for i in range(1,n+1):
        fact = fact * i
        print(fact)
    return fact

In [24]:
factorial2(5)

1
2
6
24
120

120

In [28]:
factorial2(4)

1
2
6
24

24