In [3]:
import sqlite3

## CRUD - Create Read Update delete

In [4]:
db = sqlite3.connect('MyDB')

In [5]:
cur = db.cursor()

In [6]:
cur.close()
db.close()

## checking if the table exists

In [7]:
db = sqlite3.connect('MyDB')
cur = db.cursor()

In [8]:
if cur.execute('DROP table if exists dtable'):
    print('table dropped successfully')

table dropped successfully

In [9]:
if cur.execute('CREATE table dtable(id INTEGER primary key, name TEXT, course TEXT)'):
    print('table Executed')

table Executed

In [10]:
db.commit()

In [11]:
db.close()

### insert

In [12]:
db = sqlite3.connect('MyDB')

In [13]:
cur = db.cursor()

In [14]:
if cur.execute('INSERT into dtable (name,course)values (?,?)', ('jai','python')):
    print('record 1 inserted successfully')

record 1 inserted successfully

In [15]:
db.commit()

In [16]:
if cur.execute('SELECT name, course from dtable '):
    print('selected')

selected

In [17]:
record = cur.fetchall()
print(record)

[('jai', 'python')]

In [18]:
cur.close()
db.close()

### Another way to insert using dict

In [19]:
db = sqlite3.connect('MyDB')

In [21]:
cur = db.cursor()

In [22]:
if cur.execute('INSERT into dtable (name,course)values (:name,:course)', {'name':'himesh','course':'jave'}):
    print('record 2 inserted successfully')

record 2 inserted successfully

In [23]:
db.commit()

In [24]:
if cur.execute('SELECT name, course from dtable '):
    print('selected')

selected

In [25]:
record = cur.fetchall()
print(record)

[('jai', 'python'), ('himesh', 'jave')]

In [26]:
cur.close()
db.close()

### Another way to insert

In [28]:
db = sqlite3.connect('MyDB')

In [29]:
cur = db.cursor()

In [30]:
name = input("Enter student's name")
course = input("Enter course selected")

Enter student's name Ajay
Enter course selected JS

In [31]:
if cur.execute('INSERT into dtable (name,course)values (?,?)',(name,course)):
    print('record 3 inserted successfully')

record 3 inserted successfully

In [32]:
db.commit()

In [33]:
if cur.execute('SELECT name, course from dtable '):
    print('selected')

selected

In [34]:
record = cur.fetchall()
print(record)

[('jai', 'python'), ('himesh', 'jave'), ('Ajay', 'JS')]

In [35]:
cur.close()
db.close()

### inserting more than one rows

### Executemany

In [3]:
import sqlite3

In [4]:
db = sqlite3.connect('MyDB')

In [5]:
cur = db.cursor()

In [6]:
if cur.executemany('INSERT into dtable (name,course) values(?,?)',[('bharath','Javascript'),('Dinesh','Scala'),('Sonu','datascience')]):
    print('record 4,5,6 inserted successfully')

record 4,5,6 inserted successfully

In [7]:
db.commit()

In [8]:
if cur.execute('SELECT name, course from dtable '):
    print('selected')

selected

In [9]:
record = cur.fetchall()
print(record)

[('jai', 'python'), ('himesh', 'jave'), ('Ajay', 'JS'), ('bharath', 'Javascript'), ('Dinesh', 'Scala'), ('Sonu', 'datascience')]

In [10]:
cur.close()
db.close()

### select

In [11]:
db = sqlite3.connect('MyDB')

In [12]:
cur = db.cursor()

In [13]:
if cur.execute('SELECT name,course from dtable'):
    print('cursor object is ready')

cursor object is ready

In [14]:
recordone = cur.fetchone()

In [15]:
print(recordone)

('jai', 'python')

In [16]:
recordall = cur.fetchall()

In [17]:
for x,y in recordall:
    print(x,y)

himesh jave
Ajay JS
bharath Javascript
Dinesh Scala
Sonu datascience

In [18]:
cur.close()
db.close()

## WHERE clause

In [24]:
db = sqlite3.connect('MyDB')

In [25]:
cur = db.cursor()

In [26]:
if cur.execute('SELECT name, course from dtable WHERE name = ?' ,('jai',)):
    print('selected')

selected

In [27]:
for i in cur:
    print(f'{i[0]}, {i[1]}')

jai, python

In [32]:
if cur.execute('SELECT name, course from dtable WHERE course = ?' ,('Javascript',)):
    print('selected')

selected

In [33]:
for i in cur:
    print(f'{i[0]},{i[1]}')

bharath,Javascript

## Update

In [38]:
if cur.execute('UPDATE dtable SET name=? WHERE course=?',('Naresh','jave')):
    print('updated')

updated

In [39]:
db.commit()

In [40]:
if cur.execute('SELECT name , course from dtable'):
    print('selected')

selected

In [41]:
for i in cur:
    print(i)

('jai', 'python')
('Naresh', 'jave')
('Ajay', 'JS')
('bharath', 'Javascript')
('Dinesh', 'Scala')
('Sonu', 'datascience')

## DELETE

In [42]:
if cur.execute('DELETE from dtable WHERE course=?',('jave',)):
    print('deleted')

deleted

In [43]:
db.commit()

In [44]:
if cur.execute('SELECT name, course from dtable'):
    print('selected')

selected

In [45]:
for i in cur:
    print(i)

('jai', 'python')
('Ajay', 'JS')
('bharath', 'Javascript')
('Dinesh', 'Scala')
('Sonu', 'datascience')

In [46]:
cur.close()
db.close()

In [1]:
import sqlite3

In [2]:
db = sqlite3.connect('MyDB')

In [3]:
cur = db.cursor()

In [4]:
if cur.execute('DROP table dtable'):
    print('table dropped')

table dropped

In [6]:
if cur.execute('SELECT name, course from dtable'):
    print('selected')

OperationalError: no such table: dtable

In [7]:
cur.close()
db.close()